body {
        background-color: #000000;
        color: #FDCFD6;
        font-family: Arial;
}

a {
        color: #FDCFD6;
}

h1 {
        text-align: center;
}

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.section {
        text-decoration: underline;
}

.org {
        font-weight: bold;
}

.position {
        font-style: italic;
}
